<!-- Page Content -->
<main role="main" class="inner cover">
  <h1 class="cover-heading">Google Page Speed API Node.js</h1>
  <p class="lead">With this sample repo you will learn how to work with Google PageSpeed Insights API Node.JS</p>
  <p class="lead">
    <a href="https://github.com/ahscvz/google-page-speed-insights-nodejs" class="btn btn-lg btn-secondary">Github</a>
  </p>
</main>