<!-- Footer -->
<footer class="mastfoot mt-auto">
    <div class="inner">
        <p>Starter kit for
            <a href="https://github.com/gurolayanlar/nodejs-webapp-starter">Node.js</a>, by
            <a href="https://twitter.com/gurolayanlar">@gurolayanlar</a>.</p>
    </div>
</footer>